<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.persistence.mapper.CompanyPotentialMapper">

    <select id="pageQuery" resultType="com.persistence.entity.CompanyPotentialRegistration">
        select * from company_potential_registration
        <where>
            (deleted ='0' or deleted is null)
            <if test="searchKey!=null and searchKey!=''">
                and (
                name like "%"#{searchKey}"%"
                or work_place like "%"#{searchKey}"%"
                or work_detailed_address like "%"#{searchKey}"%"
                or property like "%"#{searchKey}"%"
                or industry like "%"#{searchKey}"%"
                or business like "%"#{searchKey}"%"
                or equipment_name like "%"#{searchKey}"%"
                or professional_direction like "%"#{searchKey}"%"
                )
            </if>
            <if test="identity!=null and identity!=''">
                and identity like "%"#{identity}"%"
            </if>
        </where>
        order by create_time  limit #{offset}, #{pageSize}
    </select>


    <select id="queryTotalCount"  resultType="java.lang.Integer">
        select count(*) from company_potential_registration
        <where>
            (deleted ='0' or deleted is null)
            <if test="searchKey!=null and searchKey!=''">
                and (
                name like "%"#{searchKey}"%"
                or work_place like "%"#{searchKey}"%"
                or work_detailed_address like "%"#{searchKey}"%"
                or property like "%"#{searchKey}"%"
                or industry like "%"#{searchKey}"%"
                or business like "%"#{searchKey}"%"
                or equipment_name like "%"#{searchKey}"%"
                or professional_direction like "%"#{searchKey}"%"
                )
            </if>
            <if test="identity!=null and identity!=''">
                and identity like "%"#{identity}"%"
            </if>
        </where>
    </select>

    <update id="updateDeleteStatus">
        update company_potential_registration set deleted = 1 where id = #{id}
    </update>


    <select id="findByName" resultType="com.persistence.entity.CompanyPotentialRegistration">
        select * from company_potential_registration
        <where>
            (deleted ='0' or deleted is null)
            <if test="name!=null and name!=''">
                and name like "%"#{name}"%"
            </if>
            <if test="identity!=null and identity!=''">
                and identity like "%"#{identity}"%"
            </if>
        </where>
    </select>

</mapper>