<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.persistence.mapper.MilitaryServiceRegistrationMapper">


    <select id="pageQuery" resultType="com.persistence.entity.MilitaryServiceRegistration">
        select * from military_service_registration
        <where>
            (deleted ='0' or deleted is null)
            <if test="searchKey!=null and searchKey!=''">
                and (
                sex like "%"#{searchKey}"%"
                or household_place like "%"#{searchKey}"%"
                or work_place like "%"#{searchKey}"%"
                or receipt_confirmation like "%"#{searchKey}"%"
                or status like "%"#{searchKey}"%"
                or identity like "%"#{searchKey}"%"
                )
            </if>
            <if test="name!=null and name!=''">
                and name like  "%"#{name}"%"
            </if>
            <if test="idCard!=null and idCard!=''">
                and id_card like  "%"#{idCard}"%"
            </if>
            <if test="identity!=null and identity!=''">
                and identity like  "%"#{identity}"%"
            </if>
        </where>
        order by create_time desc limit #{offset}, #{pageSize}
    </select>


    <select id="queryTotalCount"  resultType="java.lang.Integer">
        select count(*) from military_service_registration
        <where>
            (deleted ='0' or deleted is null)
            <if test="searchKey!=null and searchKey!=''">
                and (
                sex like "%"#{searchKey}"%"
                or household_place like "%"#{searchKey}"%"
                or work_place like "%"#{searchKey}"%"
                or receipt_confirmation like "%"#{searchKey}"%"
                or status like "%"#{searchKey}"%"
                or identity like "%"#{searchKey}"%"
                )
            </if>
            <if test="name!=null and name!=''">
                and name like  "%"#{name}"%"
            </if>
            <if test="idCard!=null and idCard!=''">
                and id_card like  "%"#{idCard}"%"
            </if>
            <if test="identity!=null and identity!=''">
                and identity like  "%"#{identity}"%"
            </if>
        </where>
    </select>

    <update id="updateDeleteStatus">
        update military_service_registration set deleted = 1 where id = #{id}
    </update>


</mapper>