<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.persistence.mapper.MilitaryStrengthGuaranteeMapper">


    <select id="pageQuery" resultType="com.persistence.entity.MilitaryStrengthGuarantee">
        select * from military_strength_guarantee
        <where>
            (deleted ='0' or deleted is null)
            <if test="searchKey!=null and searchKey!=''">
                and (
                registration_task like "%"#{searchKey}"%"
                or registration_person like "%"#{searchKey}"%"
                or funds like "%"#{searchKey}"%"
                or equipment like "%"#{searchKey}"%"
                or memo like "%"#{searchKey}"%"
                or district like "%"#{searchKey}"%"
                or identity like "%"#{searchKey}"%"
                )
            </if>
            <if test="registrationTask!=null and registrationTask!=''">
                and registration_task like  "%"#{registrationTask}"%"
            </if>
            <if test="identity!=null and identity!=''">
                and identity like  "%"#{identity}"%"
            </if>
        </where>
        order by create_time limit #{offset}, #{pageSize}
    </select>


    <select id="queryTotalCount"  resultType="java.lang.Integer">
        select count(*) from military_strength_guarantee
        <where>
            (deleted ='0' or deleted is null)
            <if test="searchKey!=null and searchKey!=''">
                and (
                registration_task like "%"#{searchKey}"%"
                or registration_person like "%"#{searchKey}"%"
                or funds like "%"#{searchKey}"%"
                or equipment like "%"#{searchKey}"%"
                or memo like "%"#{searchKey}"%"
                or district like "%"#{searchKey}"%"
                or identity like "%"#{searchKey}"%"
                )
            </if>
            <if test="registrationTask!=null and registrationTask!=''">
                and registration_task like  "%"#{registrationTask}"%"
            </if>
            <if test="identity!=null and identity!=''">
                and identity like  "%"#{identity}"%"
            </if>
        </where>
    </select>

    <update id="updateDeleteStatus">
        update military_strength_guarantee set deleted = 1 where id = #{id}
    </update>
    <select id="findRegistrationTaskAndRegistrationPerson" resultType="com.persistence.entity.MilitaryStrengthGuarantee">
        select * from military_strength_guarantee
        <where>
            (deleted ='0' or deleted is null)
            <if test="registrationTask!=null and registrationTask!=''">
                and registration_task like  "%"#{registrationTask}"%"
            </if>
            <if test="registrationPerson!=null and registrationPerson!=''">
                and registration_person like  "%"#{registrationPerson}"%"
            </if>
            <if test="identity!=null and identity!=''">
                and identity like  "%"#{identity}"%"
            </if>
        </where>
        order by create_time
    </select>

</mapper>