<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.persistence.mapper.MilitaryStrengthRegistrationMapper">


    <select id="pageQuery" resultType="com.persistence.entity.MilitaryStrengthRegistration">
        select * from military_strength_registration
        <where>
            (deleted ='0' or deleted is null)
            <if test="searchKey!=null and searchKey!=''">
                and (
                required_by like "%"#{searchKey}"%"
                or task_type like "%"#{searchKey}"%"
                or concrete_task like "%"#{searchKey}"%"
                or command_unit like "%"#{searchKey}"%"
                or funds_source like "%"#{searchKey}"%"
                or subsidy_standard like "%"#{searchKey}"%"
                or equipment_requirement like "%"#{searchKey}"%"
                or basic_result_of_support_military like "%"#{searchKey}"%"
                or other_result_of_support_military like "%"#{searchKey}"%"
                or basic_result_of_military like "%"#{searchKey}"%"
                or other_result_of_military like "%"#{searchKey}"%"
                or identity like "%"#{searchKey}"%"
                )
            </if>
            <if test="requiredBy!=null and requiredBy!=''">
                and required_by like  "%"#{requiredBy}"%"
            </if>
            <if test="taskType!=null and taskType!=''">
                and task_type like  "%"#{taskType}"%"
            </if>
            <if test="concreteTask!=null and concreteTask!=''">
                and concrete_task like  "%"#{concreteTask}"%"
            </if>
            <if test="identity!=null and identity!=''">
                and identity like  "%"#{identity}"%"
            </if>
        </where>
        order by create_time desc limit #{offset}, #{pageSize}
    </select>


    <select id="queryTotalCount"  resultType="java.lang.Integer">
        select count(*) from military_strength_registration
        <where>
            (deleted ='0' or deleted is null)
            <if test="searchKey!=null and searchKey!=''">
                and (
                required_by like "%"#{searchKey}"%"
                or task_type like "%"#{searchKey}"%"
                or concrete_task like "%"#{searchKey}"%"
                or command_unit like "%"#{searchKey}"%"
                or funds_source like "%"#{searchKey}"%"
                or subsidy_standard like "%"#{searchKey}"%"
                or equipment_requirement like "%"#{searchKey}"%"
                or basic_result_of_support_military like "%"#{searchKey}"%"
                or other_result_of_support_military like "%"#{searchKey}"%"
                or basic_result_of_military like "%"#{searchKey}"%"
                or other_result_of_military like "%"#{searchKey}"%"
                or identity like "%"#{searchKey}"%"
                )
            </if>
            <if test="requiredBy!=null and requiredBy!=''">
                and required_by like  "%"#{requiredBy}"%"
            </if>
            <if test="taskType!=null and taskType!=''">
                and task_type like  "%"#{taskType}"%"
            </if>
            <if test="concreteTask!=null and concreteTask!=''">
                and concrete_task like  "%"#{concreteTask}"%"
            </if>
            <if test="identity!=null and identity!=''">
                and identity like  "%"#{identity}"%"
            </if>
        </where>
    </select>
    <select id="findRequiredByAndTaskTypeAndConcreteTask" resultType="com.persistence.entity.MilitaryStrengthRegistration">
        select * from military_strength_registration
        <where>
            (deleted ='0' or deleted is null)
            <if test="requiredBy!=null and requiredBy!=''">
                and required_by like  "%"#{requiredBy}"%"
            </if>
            <if test="taskType!=null and taskType!=''">
                and task_type like  "%"#{taskType}"%"
            </if>
            <if test="concreteTask!=null and concreteTask!=''">
                and concrete_task like  "%"#{concreteTask}"%"
            </if>
            <if test="identity!=null and identity!=''">
                and identity like  "%"#{identity}"%"
            </if>
        </where>
        order by create_time
    </select>


    <update id="updateDeleteStatus">
        update military_strength_registration set deleted = 1 where id = #{id}
    </update>


</mapper>