<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.persistence.mapper.MinbingLeaderRegistrationMapper">


    <select id="pageQuery" resultType="com.persistence.entity.MinbingLeaderRegistration">
        select * from minbing_leader_registration
        <where>
            (deleted ='0' or deleted is null)
            <if test="searchKey!=null and searchKey!=''">
                and (
                work like "%"#{searchKey}"%"
                or position like "%"#{searchKey}"%"
                or name like "%"#{searchKey}"%"
                or sex like "%"#{searchKey}"%"
                or political_status like "%"#{searchKey}"%"
                or education_level like "%"#{searchKey}"%"
                or team_name_and_position like "%"#{searchKey}"%"
                or type_of_military_service like "%"#{searchKey}"%"
                or position_when_retire like "%"#{searchKey}"%"
                or training_situation like "%"#{searchKey}"%"
                or test_result like "%"#{searchKey}"%"
                or task_execution like "%"#{searchKey}"%"
                or reward_and_punishment like "%"#{searchKey}"%"
                or resume like "%"#{searchKey}"%"
                or parttime_work like "%"#{searchKey}"%"
                )
            </if>
            <if test="name!=null and name!=''">
                and name like "%"#{name}"%"
            </if>
            <if test="position!=null and position!=''">
                and position like "%"#{position}"%"
            </if>
            <if test="politicalStatus!=null and politicalStatus!=''">
                and political_status like "%"#{politicalStatus}"%"
            </if>
            <if test="educationLevel!=null and educationLevel!=''">
                and education_level like "%"#{educationLevel}"%"
            </if>
            <if test="phone!=null and phone!=''">
                and phone like "%"#{phone}"%"
            </if>
            <if test="identity!=null and identity!=''">
                and identity like "%"#{identity}"%"
            </if>
        </where>
        order by create_time desc limit #{offset}, #{pageSize}
    </select>


    <select id="queryTotalCount" resultType="java.lang.Integer">
        select count(*) from minbing_leader_registration
        <where>
            (deleted ='0' or deleted is null)
            <if test="searchKey!=null and searchKey!=''">
                and (
                work like "%"#{searchKey}"%"
                or position like "%"#{searchKey}"%"
                or name like "%"#{searchKey}"%"
                or sex like "%"#{searchKey}"%"
                or political_status like "%"#{searchKey}"%"
                or education_level like "%"#{searchKey}"%"
                or team_name_and_position like "%"#{searchKey}"%"
                or type_of_military_service like "%"#{searchKey}"%"
                or position_when_retire like "%"#{searchKey}"%"
                or training_situation like "%"#{searchKey}"%"
                or test_result like "%"#{searchKey}"%"
                or task_execution like "%"#{searchKey}"%"
                or reward_and_punishment like "%"#{searchKey}"%"
                or resume like "%"#{searchKey}"%"
                or parttime_work like "%"#{searchKey}"%"
                )
            </if>
            <if test="name!=null and name!=''">
                and name like "%"#{name}"%"
            </if>
            <if test="position!=null and position!=''">
                and position like "%"#{position}"%"
            </if>
            <if test="politicalStatus!=null and politicalStatus!=''">
                and political_status like "%"#{politicalStatus}"%"
            </if>
            <if test="educationLevel!=null and educationLevel!=''">
                and education_level like "%"#{educationLevel}"%"
            </if>
            <if test="phone!=null and phone!=''">
                and phone like "%"#{phone}"%"
            </if>
            <if test="identity!=null and identity!=''">
                and identity like "%"#{identity}"%"
            </if>
        </where>
    </select>
    <select id="findWorkAndPositionAndNameAndPoliticalStatus" resultType="com.persistence.entity.MinbingLeaderRegistration">
        select * from minbing_leader_registration
        <where>
            (deleted ='0' or deleted is null)
            <if test="work!=null and work!=''">
                and work like "%"#{work}"%"
            </if>
            <if test="name!=null and name!=''">
                and name like "%"#{name}"%"
            </if>
            <if test="position!=null and position!=''">
                and position like "%"#{position}"%"
            </if>
            <if test="politicalStatus!=null and politicalStatus!=''">
                and political_status like "%"#{politicalStatus}"%"
            </if>

            <if test="phone!=null and phone!=''">
                and phone like "%"#{phone}"%"
            </if>
            <if test="identity!=null and identity!=''">
                and identity like "%"#{identity}"%"
            </if>
        </where>
        order by create_time
    </select>


    <update id="updateDeleteStatus">
        update minbing_leader_registration set deleted = 1 where id = #{id}
    </update>


</mapper>