<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.persistence.mapper.PreBuildPartyOrganizationMapper">


    <select id="pageQuery" resultType="com.persistence.entity.PreBuildPartyOrganization">
        select * from pre_build_party_organization
        <where>
            (deleted ='0' or deleted is null)
            <if test="searchKey!=null and searchKey!=''">
                and (
                party_organization_name like "%"#{searchKey}"%"
                or approval_by like "%"#{searchKey}"%"
                or subordination like "%"#{searchKey}"%"
                or team like "%"#{searchKey}"%"
                )
            </if>
            <if test="partyOrganizationName!=null and partyOrganizationName!=''">
                and party_organization_name like "%"#{partyOrganizationName}"%"
            </if>
            <if test="identity!=null and identity!=''">
                and identity like "%"#{identity}"%"
            </if>
        </where>
        order by create_time desc limit #{offset}, #{pageSize}
    </select>


    <select id="queryTotalCount"  resultType="java.lang.Integer">
        select count(*) from pre_build_party_organization
        <where>
            (deleted ='0' or deleted is null)
            <if test="searchKey!=null and searchKey!=''">
                and (
                party_organization_name like "%"#{searchKey}"%"
                or approval_by like "%"#{searchKey}"%"
                or subordination like "%"#{searchKey}"%"
                or team like "%"#{searchKey}"%"
                )
            </if>
            <if test="partyOrganizationName!=null and partyOrganizationName!=''">
                and party_organization_name like "%"#{partyOrganizationName}"%"
            </if>
            <if test="identity!=null and identity!=''">
                and identity like "%"#{identity}"%"
            </if>
        </where>
    </select>
    <select id="findPartyNameAndApprovalByAndTeamAndIdentity" resultType="com.persistence.entity.PreBuildPartyOrganization">
        select * from pre_build_party_organization
        <where>
            (deleted ='0' or deleted is null)
            <if test="partyOrganizationName!=null and partyOrganizationName!=''">
                and party_organization_name like "%"#{partyOrganizationName}"%"
            </if>
            <if test="identity!=null and identity!=''">
                and identity like "%"#{identity}"%"
            </if>
        </where>
        order by create_time
    </select>

    <update id="updateDeleteStatus">
        update pre_build_party_organization set deleted = 1 where id = #{id}
    </update>


</mapper>