# 默认忽略的文件
/shelf/
/workspace.xml
HELP.md
.gradle
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
application.log*
paadaptormastercard.log*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
